.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
ion-toolbar {
  --background: #282c3f;
}

.yummyImage {
  width: 40px;
  margin-left: 10vw;
}
.searchContainer {
  padding: 0px 16px;
  background: #282c3f;
}
.smallPara {
  color: white;
  padding-top: 10px;
}
.swiperImage {
  border-radius: 5px;
}
.imageTitle {
  position: absolute;
  bottom: 2px;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: rgba(0,0,0,0.1);
  text-align: center;
  span {
    color: white;
    font-weight: bold;
  }
}