<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img class="yummyImage" src="./assets/icon/diet.svg" />
    </ion-buttons>
    <ion-title color="primary">
      YummyFood
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <div class="searchContainer">
      <p class="smallPara" color="light">Set location to find restaurants near you.</p>
      <ion-searchbar [(ngModel)]="searchWord"
      placeholder="Search food or Restaurant"
      color="light" animated></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="horizontalPadding foodCulture">
    <h2 class="large">About Food Culture In YummyFood</h2>
    <p >Order food &amp; beverages online from restaurants near &amp;
      around you. We deliver food from your neighborhood local joints, your favorite cafes, luxurious &amp;
      elite restaurants in your area, and also from chains like
      Dominos, KFC, Burger King, Pizza Hut and more!</p>
  </div>
  <div class="hs-container horizontalPadding">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let item of categories">
        <img class="swiperImage" [src]="item.src" />
        <div class="imageTitle">
          <span>{{item.name}}</span>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <ion-list>
    <ion-grid class="horizontalPadding">
      <h2>Recomented For You</h2>
      <ion-row>
        <ion-col size="6" size-md="4" size-lg="3" size-xl="2"
        *ngFor="let item of recomented | search: 'title':searchWord; ">
          <div class="relative">
            <p>{{item.localizedTitle}}</p>
            <ion-img [src]="item.images[0].imageUrl" ></ion-img>
            <div class="imageTitle">
                <span>{{item.title}}</span>
              </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>